* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    color: #333;
    background-color: #f9fafb;
}

header {
    background: #0f172a;
    color: #fff;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
    letter-spacing: 1px;
}

header a {
    color: #fff;
    margin-left: 20px;
    font-weight: bold;
}

header a:hover{
    color: gray;
}

.image {
    flex: 1;
    text-align: center;
    width: 50%; height: 10%;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}

.hero {
    display: flex;
    align-items: center;
    padding: 80px 60px;
    background: linear-gradient(to top, #678da7, #ecf5fd);
}

.but {
    background-color: #0f172a;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}

.but:hover {
    background: linear-gradient(to right, #1f3646, #445c72);
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}

.hero-text p{
    padding-bottom: 14px;
    color: #0f172a;
}

.hero-text h2, h3{
    padding-bottom: 5px;
    color: #0f172a;
    font-size: xx-large;
}

.contact {
    padding: 60px;
    background-color: #f4f4f4;
    text-align: center;
}

.contact input,
.contact textarea {
    width: 60%;
    padding: 10px;
}

.contact button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.features h3{
    text-align: center;
    color: #0f172a;
    padding-top: 75px; padding-bottom: 50px;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    padding-bottom: 40px;
}

.feature-box h4{
    text-align: center;
    color: #0f172a;
    font-weight: bolder;
}

.feature-box p{
    text-align: center;
    color: #0f172a;
}

.feature-box {
    padding: 50px;
    border-radius: 10px;
    height: 200px;
    background: #f1f5f9;
}

footer{
    background-color: #0f172a;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 50px;
}
